
/***** Slideshow Stylesheet *****/
#slideshow-container {
width:100% !important;
height:463px;
background:#e4e6e6;
position:relative;
overflow:hidden;
padding:0;
}

#slideshow-container2 {
width:100% !important;
height:412px;
background:#e4e6e6;
position:relative;
overflow:hidden;
padding:0;
}

.banner {
width:100%;
height:463px !important;
position:relative;
overflow:hidden;
margin:0 auto;
}

.banner2 {
width:100%;
height:412px !important;
position:relative;
overflow:hidden;
margin:0 auto;
}

.banner-pf {
width:100%;
height:450px !important;
background:#dcdcdc;
-webkit-border-radius: 6px;
-moz-border-radius: 6px;
border-radius: 6px;
margin-bottom:10px;
position:relative;
overflow:hidden;
}

.banner-pf ul li img {
height:450px !important;
-webkit-border-radius: 6px;
-moz-border-radius: 6px;
border-radius: 6px;	
}

.banner-blog {
width:100%;
height:227px !important;
background:#dcdcdc;
position:relative;
overflow:hidden;
}

#slide-box {
margin:0px 0px -107px 0px !important; 
position:relative;
top:-66px;
left:-26px;
z-index:999 !important;
overflow:hidden;
}

@media \0screen {.promo-box h3 {font-size:23px;}}

/***** Extra Stylesheet *****/
.note .row {margin-bottom:-23px;}
.note-folded .row {margin-bottom:-23px; overflow:hidden;}
.big-heading {font-size:52px;}
.midtext {font-size:22px; margin-right:10px;}

@media \0screen {
.ie8fix {float:left; padding:0;}
.circular-bar-green, .circular-bar-blue {display:none;}
.circular-bar-orange, .circular-bar-red, .circular-bar {display:none;}
}
